# coverage
.phpunit*
coverage/

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
*.sublime-workspace
*.sublime-project

#System Files
.DS_Store
Thumbs.db

#Composer libraries and logs
/vendor/
/logs/*

/cache/*
